<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{post.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{post.list.headline}]]</h1>
                <div>
                    <a th:href="@{/Admin/posts/add}" class="btn btn-primary ms-2">[[#{post.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${posts.empty}">[[#{post.list.empty}]]</div>
            <div th:if="${!posts.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{post.postId.label}]]</th>
                            <th scope="col">[[#{post.createdAt.label}]]</th>
                            <th scope="col">[[#{post.user.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post : ${posts}">
                            <td>[[${post.postId}]]</td>
                            <td>[[${post.createdAt}]]</td>
                            <td>[[${post.user}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/Admin/posts/edit/{postId}(postId=${post.postId})}" class="btn btn-sm btn-secondary">[[#{post.list.edit}]]</a>
                                    <form th:action="@{/Admin/posts/delete/{postId}(postId=${post.postId})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{post.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
