<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Home</title>
</head>

<body>
    <div layout:fragment="content">
        
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2>About Us</h2>
                    <p>Welcome to Your Social Network! We are dedicated to providing a platform where you can connect
                        with others, share experiences, and build meaningful relationships. Our mission is to create a
                        vibrant and inclusive online community for people from all walks of life.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>