<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Home</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2>Contact</h2>
                    <p>If you have any questions or inquiries, feel free to reach out to us:</p>
                    <ul>
                        <li><strong>Name:</strong> Lucky Mourya</li>
                        <li><strong>Occupation:</strong> Full Stack Web Developer</li>
                        <li><strong>Email:</strong> luckymourya582@gmail.com</li>
                        <li><strong>Phone:</strong> +91 9165309608 </li>
                        <li><a href="https://www.linkedin.com/in/lucky-mourya-968b6126b/"> <strong>Linkedin</strong> </a></li>
                        <li><a href="https://github.com/DEveL0perLuckY"> <strong>Github</strong> </a></li>
                        <li><a href="https://www.instagram.com/luckymourya007/"> <strong>Instagram</strong> </a></li>    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>