<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Home</title>
</head>

<body>
    <div layout:fragment="content">

        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2>Features</h2>
                    <p>Discover the exciting features that make Your Social Network stand out:</p>
                    <ul>
                        <li>Connect with friends and family.</li>
                        <li>Explore new connections and expand your network.</li>
                        <li>Share updates, photos, and experiences.</li>
                        <!-- Add more features as needed -->
                    </ul>
                </div>
            </div>
        </div>


    </div>
</body>

</html>